/*CSS reset settings here*/
*{
 margin: 0px;
 padding: 15px;
}
#wrapper{
 height: 650px;   
 width: 950px;
 background-color: silver;
 margin: 0px auto;
}
#header{
 height: 150px;
 background-color: green;
 margin-top: 15px 15px 15px 15px;
}

#navigation{
 height: 300px;
 width: 200px;
 background-color: blue;
 margin-top: 15px;
}
#main_content{
 height: 425px;
 width: 650px;
 background-color: red;
 float: right;
 margin-top: -330px;
}
.subcontents{
 height: 160px;
 width: 170px;
 background-color: yellow;
 display: inline-block;
}
#advertisement{
 height: 120px;
 width: 580px;
 background-color: purple;
 margin-top: 25px;
}
